%link-button {
    font-size: 30px;
    padding: 18px;
    border: none;
    border-radius: 10px;
    margin: 5px 10px;
    transition: .2s ease;

    &:hover {
        cursor: pointer;
    }
}

%center-in-div {
    display: flex;
    align-items: center;
    justify-content: center;
}