// Colours
$teal-main: hsl(174, 78%, 38%);
$blue-main: hsl(189, 65%, 50%);
$yellow-main: hsl(40, 84%, 64%);
$red-main: hsl(347, 75%, 60%);
$peach-main: hsl(11, 83%, 73%);
$green-main: hsl(84, 47%, 69%);
$brown-main: hsl(338, 5%, 30%);
$black-main: hsl(330, 5%, 15%);
$white-main: hsl(0, 0%, 100%);

$youtube-main: hsl(0, 100%, 50%);
$twitter-main: hsl(203, 89%, 53%);
$facebook-main: hsl(214, 89%, 52%);
$pinterest-main: hsl(351, 100%, 45%);
$instagram-main: hsl(35, 97%, 63%);

// Fonts
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
