@use '../abstracts' as *;

body {
    background-color: $brown-main;
    margin: 0px;
    padding: 0px;

}

.App {
    @extend %center-in-div;
    text-align: center;
    flex-flow: column nowrap;
    padding: 32px 0px 0px 0px;
    margin: 0px;
}